[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#module-personalshopper-account #left_column {display:none}
#module-personalshopper-account #center_column {width:757px}

#select_dna{
	width: 140px;
}

#dna_block{
float: right;
position: absolute;
right:5px;
margin-top: -40px;
}

#dna_block img{
	float: left; 
	margin-right: 5px;
}

#personal_table_product{
	table-layout: fixed;
	margin: 20px;
	width: 525px;
	padding: 15px;
}

#personal_table_product tr{
	margin: 10px;
}

#personal_table_product td label{
	margin-top: 20px;
}

#personal_table_product td input{
	width: 30px;
	float: left;
}

#personal_table_product .slider_child{
	margin:5px 10px 15px 25px;
}

#personal_table_product .ui-slider-horizontal .ui-slider-handle{
	width: 0px;
	height: 0px;
}

.votes{
	float: left;
	margin-top: -75px;
	margin-left: 290px;
}

.votes p{
	font-size:45px;
	padding-top: 15px;
}

.votes img:hover{
	cursor: pointer;
}

.child{
	width: 10%;
}


.col-left{
	width: 90px;
}

.thermometer{
	width:100%;
	text-align:center;
	position: relative;
	margin-bottom: -15px;
	z-index:2;
}

.ui-slider-horizontal{
	height: 14px;
}

.double_aver{
	width:80%;
	float:right;
	margin-top: -16px;
}

#dna_block_account .dna {
	position:relative;
   margin-bottom: 14px;
   padding: 12px 8px;
	border: 1px solid #eee;
   border-radius: 3px 3px 3px 3px;
}

.dna img {
    display: block;
    float: left;
    margin-right: 14px;
    overflow: hidden;
    position: relative;
    cursor:pointer
}

.dna a {
    color: #000000;
    font-size: 13px;
    margin-left: 10px;
    font-weight:bold;
}

.dna  p.product_desc {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

.dna .remove {
	position:absolute;
	top:10px;
	right:10px
}

.default_dna{
	border-collapse: separate;
	border-spacing: 14px;
	color: #000000;
	font-size: 13px;
	font-weight: bold;
}

.default_dna td{
	padding: 5px;
	border: 1px solid #eee;
	text-align:center;
}

.default_dna .dna_img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
}


#address #left_column {display:none}
#address #center_column{width:757px}

#module-personalshopper-dna #left_column {display:none}
#module-personalshopper-dna #center_column {width:757px}

#personal_table_user{
	table-layout: fixed;
	width: 717px;
	padding: 15px;
}

.personal_table_container{
	height:70px;
	cursor: move;
	padding: 10px;
	border: none;
	position: relative;
	border: 1px solid transparent;
}
.personal_table_container.over{
	border:1px dashed #555;
}

.personal_table_container:hover{
	border:1px dashed #555;
}

#personal_table_user input[type="number"]{
	width: 32px;
}

#personal_table_user h4{
	margin-bottom: 15px;
}

#personal_table_user img{
	float: right;
	cursor: pointer;
}

#personal_table_user button{
	width: 50px;
}

#personal_table_user #save {
	float: right;
}

#personal_table_user .ui-slider-horizontal .ui-slider-handle{
	width: 1.0em;
	height: 18px;
}

#personal_table_user .slider_child{
	margin:5px 10px 15px 40px;
}

#add_dna fieldset {
	margin:0;
	border:1px solid #ccc;
	background:#F8F8F8;
	margin-bottom: 25px;
}
#add_dna h3 {
	margin:0 0 15px 0;
	padding:8px;
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
}
#center_column #add_dna p {margin:0; padding:0 0 10px 0}
#add_dna p.required {color:#222}
#add_dna p.required  sup {color:#990000}

#add_dna p.text label{
	display:inline-block;
	padding:6px 15px;
	font-size:14px;
	text-align:right;
}

#add_dna p.text input,
#add_dna p.password input,
#add_dna p.select input {
	padding:0 5px;
	height:22px;
	width:360px;/* 370 */
	border:1px solid #ccc;
	font-size: 12px;
	color:#666;
	line-height:22px
}
#add_dna p.checkbox input {
	margin-left:260px;
}
#add_dna p.select select {
	margin-right:10px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
#add_dna p.textarea label {vertical-align:top}
#add_dna p.textarea textarea {
	height:80px;
	width:370px;
	border:1px solid #ccc;
	font-size: 12px;
	color:#666
}
p.submit_dna {
	float:right;

}

#add_dna span.form_info,
#add_dna span.inline-infos {
	display:block;
	margin:5px 0 0 265px;
	color:#666
}

#add_dna .childs{
	width: 100%;
	margin-top: 20px !important;
}

.slide{
	float: right;
}
